@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

:root {
    --size: 40px;
  }
  
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #21223C;
  }
  
  ul, ol {
    list-style-type: none;
  }

  .content {
    display: flex;
    place-content: center;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .content {
    display: flex;
    flex-direction: column;
  }

  .content > h1{
    margin-bottom: 10px;

    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: #FFFDFF;
    text-shadow: 
        2px 2px 4px #FF55E2,  
        -2px -2px 4px #04E0F8; 

  }
  
  .table {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    display: flex;
    flex-direction: row;
  }
  
  .column {
    cursor: pointer;
  
    height: var(--size);
    width: var(--size);
  
    background-color: #b4b4b4;
    margin: 5px;

    box-shadow: 
        2px 2px 5px #1a1a1a,  
        -2px -2px 5px #F5F5F5;
  
    transition: 200ms;
  }
  
  .column:hover {
    filter: brightness(0.9);
  }
  
  .column.marked-pink {
    background-color: #FF55E2;
  }
  
  .column.marked-ciano {
    background-color: #04E0F8;
  }

  .no-pointer {
    pointer-events: none;
  }

  .round{
    margin-top: 10px;

    font-family: "Orbitron", sans-serif;
    font-size: 20px;
    color: #FEFEFE;
}

